.dashboard-container {
    display: flex;
    height: 100%;
}

.dashboard-outlet {
    height: 100%;
    width: 100%;
}


#toggler{
    width: 50px;
    height: 50px;
}

.aside{
    width: 55px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar{
    display: flex;
}

.navbar label{
    align-items: center;
    cursor: pointer;
    
}
